{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard.</p>
        <p>Total number of Images bookmarked : <strong>{{total_images_created}}</strong></p>
    {% endwith %}
    <p>Drag the following button to you bookmarks toolbar to bookmark images from other websites
    → <a href="javascript: {% include "bookmarklet_launcher.js "%}" class="button" style="text-decoration: none;"><strong>Bookmark it</strong></a></p>
    <p>You can also <a href="{% url "edit" %}" style="text-decoration: none;"><strong>Edit your Profile</strong></a> &emsp; or &emsp; 
<a href="{% url "password_change" %}" style="text-decoration: none;"><strong>Change your Password</strong></a></p>
{% endblock %}